$search: linear-gradient(to bottom right,#6db4ff,#47ccff);

.el-button--search{
    color: #fff;
    background: $search;
}
.el-button--operation{
    color: #fff;
    background: #6cb5ff;
}

.el-dialog__header{
    text-align: center;
}